%li #{gravatar_for user, :size => 30}, #{link_to user.name, user}
-if current_user.admin?
  %li= link_to "Delete", user, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{user.name}"